body {
    background-color: lightgrey;
}

.grid-input {
    margin-top:10px;
    width: 50px;
    
}

.header {
    text-align: center;
    font-size: 40px;
}
.app-container {
    display:flex;
    justify-content: space-evenly;
}

.canvas {
    display:grid;
    background-color: blue;
    height: 500px;
    width: 500px;
    padding: 10px;
    
}

.grid-item {
    background-color: black;
  
}

.features * {
 margin: 5px;
}
